<module>
	<rawname>languages</rawname>
	<repo>extended</repo>
	<name>Languages</name>
	<version>15.0.13</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>https://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>
		Adds the ability to changes the language within a call flow and add language attribute to users.
	</description>
	<more-info>https://wiki.freepbx.org/display/FPG/Languages+Module</more-info>
	<menuitems>
		<languages needsenginedb="yes">Languages</languages>
	</menuitems>
	<popovers>
		<languages>
			<display>languages</display>
		</languages>
	</popovers>
	<changelog>
		*15.0.13* FREEI-4928 Fixed typo issue 
		*15.0.12* Packaging of ver 15.0.12
		*15.0.11* Packaging of ver 15.0.11
		*15.0.10* FREEI-922 Fix XSS Bootstrap Datatable Issues 
		*15.0.9* Related to FREEPBX-20414: removed $jobid from runRestore() 
		*15.0.8* FREEPBX-20083 Backup restore module is not restoring Languages module entries 
		*15.0.7* FREEPBX-20005 Not able to select language option in inbound routes. 
		*15.0.6* Fixing FREEPBX-17867 
		*15.0.5* fixing legacy restore 
		*15.0.4* backup and restore 
		*15.0.3* FREEPBX-18338 Languages module allows to create duplicate entries with same Description. 
		*15.0.2* Packaging of ver 15.0.2
		*15.0.1* Backup 15
	</changelog>
	<hooks>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules">
			<method callingMethod="getHeaders" class="Languages" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="export" class="Languages" namespace="FreePBX\modules">bulkhandlerExport</method>
			<method callingMethod="import" class="Languages" namespace="FreePBX\modules">bulkhandlerImport</method>
		</bulkhandler>
	</hooks>
	<database>
	  <table name="languages">
	    <field name="language_id" type="integer" primaryKey="true" autoincrement="true"/>
	    <field name="lang_code" type="string" length="50" notnull="false"/>
	    <field name="description" type="string" length="50" notnull="false"/>
	    <field name="dest" type="string" length="255" notnull="false"/>
	  </table>
		<table name="language_incoming">
			<field name="extension" type="string" length="50" notnull="false"/>
			<field name="cidnum" type="string" length="50" notnull="false"/>
			<field name="language" type="string" length="10" notnull="false"/>
		</table>
	</database>
	<depends>
		<version>13.0.6</version>
	</depends>
	<supported>
		<version>15.0</version>
	</supported>
</module>