<module>
  <rawname>queueprio</rawname>
  <repo>extended</repo>
  <name>Queue Priorities</name>
  <version>15.0.10</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <category>Applications</category>
  <description>
		Adds the ability to set a callers priority higher before entering a queue
	</description>
  <menuitems>
    <queueprio needsenginedb="yes">Queue Priorities</queueprio>
  </menuitems>
  <popovers>
    <queueprio>
      <display>queueprio</display>
    </queueprio>
  </popovers>
	<changelog>
		*15.0.10* FREEI-924 Fix XSS Bootstrap Datatable Issues 
		*15.0.9* Related to FREEPBX-20414: removed $jobid from runRestore() 
		*15.0.8* FREEPBX-20378 Restoring legacy(FreePBX 14) Backup into FreePBX 15 system is not restoring Queue Priorities entries. 
		*15.0.7* FREEPBX-20422 Restoring FreePBX 15 system is not restoring Queue Priority entries. 
		*15.0.6* Bugfix/FREEPBX-20031 
		*15.0.5* Fixing FREEPBX-17867 
		*15.0.4* fixing legacy restore 
		*15.0.3* FREEPBX-18351 After adding/editing a Queue Priority entry the page is not redirecting to list page 
		*15.0.2* FREEPBX-15215 Multiple Queue Priority can be added with same Description 
    *15.0.1* Add new Implementation Backup for 15 version.
	</changelog>
  <depends>
    <version>2.5.0alpha1</version>
  </depends>
  <location>release/2.11/queueprio-2.11.0.0.tgz</location>
  <md5sum>72e836e63a0c82ca961900cbf445def2</md5sum>
  <supported>
    <version>15.0</version>
  </supported>
</module>