<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style media="screen">
        .bordes div.col { border: 1px solid black; }
        body { margin: 30px; background-color: #DDDDDD; }
        hr { border: 1px solid black; }
    </style>
</head>
<body class="text-dark">
    <div class="container">
        <h1>Assertive, Documentación Api</h1>
        <div class="row">
            <div class="col">
                <p>Por favor solicita URL, usuario y contraseña a tu representante de TI.</p>
                <p>Todas las peticiones son encryptadas con un certificado válido para la url y se utiliza un puerto que por lo general es el 8443,
                    así que las peticiones las deberás hacer por https://url:8443/
                </p>
                <p>La llave "key" devuelta por el endpoint login, es tu permiso de acceso, no la compartas ni la pierdas
                    o tu información se verá comprometida. La debes enviar con cada petición de cualquier método,
                    ya sea en una cabecera de nombre key, o en el cuerpo del mensaje. ej. GET:
                </p>
                <p><strong>https://miserv.assertivebusiness.com:8443/endpoint?key=MiLlave</strong></p>
                <p>Se aceptan formatos estandar form-data x-www-form-urlencoded o json.
                    TODOS los parámetros no esperados son <strong>IGNORADOS</strong></p>
                <p>Las respuestas son de tipo application/json y manejan los codigos apropiados para cada una.
                    Para las de error el código esta fuera del rango de los 200 ej. 403 {"error":"No autorizado"}</p>
            </div>
        </div>
        {{ $section := "" }}
        {{range .Uris}}
            {{if ne .Section $section}}
                <hr>
                <div class="row">
                    <div class="col text-center"><h4>- - - {{.Section}} - - -</h4></div>
                </div>
                {{ $section = .Section }}
            {{end}}
            <hr>
            <div class="row h5">
                <div class="col">
                    <span class="text-success">{{.Method}}</span>
                    <span class="text-info"><strong>{{.Route}}</strong></span>
                </div>
            </div>
            <p>{{.Des}}</p>
            {{if .Params}}
                <p class="mt-2 mb-n1">Variables</p>
                <div class="row">
                    <div class="col">
                        {{range .Params}}
                            <div class="row bordes">
                                <div class="col col-2">
                                    {{.Name}}
                                </div>
                                <div class="col">
                                    {{.Des}}
                                </div>
                                <div class="col col-1">
                                    {{.Type}}
                                </div>
                                <div class="col col-1">
                                    {{if .Req -}}Requerido{{end -}}
                                </div>
                            </div>
                        {{end}}
                    </div>
                </div>
            {{end}}
            <p class="mt-2 mb-n1">Response:</p>
            <div class="row">
                <div class="col">
                    {{.Resp}}
                </div>
            </div>
        {{end}}
        <hr>
        <div class="row">
            <p>&nbsp;</p>
        </div>
        <div class="row">
            <figure>
                <blockquote class="blockquote"><a href="https://www.assertivebusiness.com/">Assertive Business México</a> Ventas: +52 (55) 8942 7351</blockquote>
                <figcaption class="blockquote-footer">Dudas y comentarios: genaro.gonzalez@assertivebusiness.com</figcaption>
            </figure>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
