<div id="emojiskinon">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="emojihome-tab" data-toggle="tab" href="#emojihome" role="tab" aria-controls="emojihome" aria-selected="true">😀</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="emojipeop-tab" data-toggle="tab" href="#emojipeop" role="tab" aria-controls="emojipeop" aria-selected="false">👋</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="emojiani-tab" data-toggle="tab" href="#emojiani" role="tab" aria-controls="emojiani" aria-selected="false">🐐</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="emojifood-tab" data-toggle="tab" href="#emojifood" role="tab" aria-controls="emojifood" aria-selected="false">🍏</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="emojiobj-tab" data-toggle="tab" href="#emojiobj" role="tab" aria-controls="emojiobj" aria-selected="false">⌚️</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="emojihome" role="tabpanel" aria-labelledby="emojihome-tab">
            <span>😀</span> <span>😃</span> <span>😄</span> <span>😁</span> <span>😆</span> <span>😅</span> <span>😂</span> <span>🤣</span> <span>😊</span>
            <span>😇</span> <span>🙂</span> <span>🙃</span> <span>😉</span> <span>😌</span> <span>😍</span> <span>🥰</span> <span>😘</span> <span>😗</span>
            <span>😙</span> <span>😚</span> <span>😋</span> <span>😛</span> <span>😝</span> <span>😜</span> <span>🤪</span> <span>🤨</span> <span>🧐</span>
            <span>🤓</span> <span>😎</span> <span>🤩</span> <span>🥳</span> <span>😏</span> <span>😒</span> <span>😞</span> <span>😔</span> <span>😟</span>
            <span>😕</span> <span>🙁</span> <span>😣</span> <span>😖</span> <span>😫</span> <span>😩</span> <span>🥺</span> <span>😢</span> <span>😭</span>
            <span>😤</span> <span>😠</span> <span>😡</span> <span>🤬</span> <span>🤯</span> <span>😳</span> <span>🥵</span> <span>🥶</span> <span>😱</span>
            <span>😨</span> <span>😰</span> <span>😥</span> <span>😓</span> <span>🤗</span> <span>🤔</span> <span>🤭</span> <span>🤫</span> <span>🤥</span>
            <span>😶</span> <span>😐</span> <span>😑</span> <span>😬</span> <span>🙄</span> <span>😯</span> <span>😦</span> <span>😧</span> <span>😮</span>
            <span>😲</span> <span>🥱</span> <span>😴</span> <span>🤤</span> <span>😪</span> <span>😵</span> <span>🤐</span> <span>🥴</span> <span>🤢</span>
            <span>🤮</span> <span>🤧</span> <span>😷</span> <span>🤒</span> <span>🤕</span> <span>🤑</span> <span>🤠</span> <span>😈</span> <span>👿</span>
            <span>👹</span> <span>👺</span> <span>🤡</span> <span>💩</span> <span>👻</span> <span>💀</span> <span>👽</span> <span>👾</span> <span>🤖</span>
            <span>🎃</span> <span>😺</span> <span>😸</span> <span>😹</span> <span>😻</span> <span>😼</span> <span>😽</span> <span>🙀</span> <span>😿</span>
            <span>😾</span>
        </div>
        <div class="tab-pane fade" id="emojipeop" role="tabpanel" aria-labelledby="emojipeop-tab">
            <span>👋</span> <span>🤚</span> <span>🖐</span> <span>✋</span> <span>🖖</span> <span>👌</span> <span>🤏</span> <span>✌️</span> <span>🤞</span>
            <span>🤟</span> <span>🤘</span> <span>🤙</span> <span>👈</span> <span>👉</span> <span>👆</span> <span>🖕</span> <span>👇</span> <span>☝️</span>
            <span>👍</span> <span>👎</span> <span>✊</span> <span>👊</span> <span>🤛</span> <span>🤜</span> <span>👏</span> <span>🙌</span> <span>👐</span>
            <span>🤲</span> <span>🤝</span> <span>🙏</span> <span>✍️</span> <span>💅</span> <span>🤳</span> <span>💪</span> <span>🦾</span> <span>🦵</span>
            <span>🦿</span> <span>🦶</span> <span>👂</span> <span>🦻</span> <span>👃</span> <span>🧠</span> <span>🦷</span> <span>🦴</span> <span>👀</span>
            <span>👁</span> <span>👅</span> <span>👄</span> <span>💋</span> <span>🩸</span> <span>🧳</span> <span>🌂</span> <span>☂️</span> <span>🧵</span>
            <span>🧶</span> <span>👓</span> <span>🕶</span> <span>🥽</span> <span>🥼</span> <span>🦺</span> <span>👔</span> <span>👕</span> <span>👖</span>
            <span>🧣</span> <span>🧤</span> <span>🧥</span> <span>🧦</span> <span>👗</span> <span>👘</span> <span>🥻</span> <span>🩱</span> <span>🩲</span>
            <span>🩳</span> <span>👙</span> <span>👚</span> <span>👛</span> <span>👜</span> <span>👝</span> <span>🎒</span> <span>👞</span> <span>👟</span>
            <span>🥾</span> <span>🥿</span> <span>👠</span> <span>👡</span> <span>🩰</span> <span>👢</span> <span>👑</span> <span>👒</span> <span>🎩</span>
            <span>🎓</span> <span>🧢</span> <span>⛑</span> <span>💄</span> <span>💍</span> <span>💼</span> <span>🧡</span> <span>💔</span>
        </div>
        <div class="tab-pane fade" id="emojiani" role="tabpanel" aria-labelledby="emojiani-tab">
            <span>🐶</span> <span>🐱</span> <span>🐭</span> <span>🐹</span> <span>🐰</span> <span>🦊</span> <span>🐻</span> <span>🐼</span> <span>🐨</span>
            <span>🐯</span> <span>🦁</span> <span>🐮</span> <span>🐷</span> <span>🐽</span> <span>🐸</span> <span>🐵</span> <span>🙈</span> <span>🙉</span>
            <span>🙊</span> <span>🐒</span> <span>🐔</span> <span>🐧</span> <span>🐦</span> <span>🐤</span> <span>🐣</span> <span>🐥</span> <span>🦆</span>
            <span>🦅</span> <span>🦉</span> <span>🦇</span> <span>🐺</span> <span>🐗</span> <span>🐴</span> <span>🦄</span> <span>🐝</span> <span>🐛</span>
            <span>🦋</span> <span>🐌</span> <span>🐞</span> <span>🐜</span> <span>🦟</span> <span>🦗</span> <span>🕷</span> <span>🕸</span> <span>🦂</span>
            <span>🐢</span> <span>🐍</span> <span>🦎</span> <span>🦖</span> <span>🦕</span> <span>🐙</span> <span>🦑</span> <span>🦐</span> <span>🦞</span>
            <span>🦀</span> <span>🐡</span> <span>🐠</span> <span>🐟</span> <span>🐬</span> <span>🐳</span> <span>🐋</span> <span>🦈</span> <span>🐊</span>
            <span>🐅</span> <span>🐆</span> <span>🦓</span> <span>🦍</span> <span>🦧</span> <span>🐘</span> <span>🦛</span> <span>🦏</span> <span>🐪</span>
            <span>🐫</span> <span>🦒</span> <span>🦘</span> <span>🐃</span> <span>🐂</span> <span>🐄</span> <span>🐎</span> <span>🐖</span> <span>🐏</span>
            <span>🐑</span> <span>🦙</span> <span>🐐</span> <span>🦌</span> <span>🐕</span> <span>🐩</span> <span>🦮</span> <span>🐕</span> <span>‍🦺</span>
            <span>🐈</span> <span>🐓</span> <span>🦃</span> <span>🦚</span> <span>🦜</span> <span>🦢</span> <span>🦩</span> <span>🕊</span> <span>🐇</span>
            <span>🦝</span> <span>🦨</span> <span>🦡</span> <span>🦦</span> <span>🦥</span> <span>🐁</span> <span>🐀</span> <span>🐿</span> <span>🦔</span>
            <span>🐾</span> <span>🐉</span> <span>🐲</span> <span>🌵</span> <span>🎄</span> <span>🌲</span> <span>🌳</span> <span>🌴</span> <span>🌱</span>
            <span>🌿</span> <span>☘️</span> <span>🍀</span> <span>🎍</span> <span>🎋</span> <span>🍃</span> <span>🍂</span> <span>🍁</span> <span>🍄</span>
            <span>🐚</span> <span>🌾</span> <span>💐</span> <span>🌷</span> <span>🌹</span> <span>🥀</span> <span>🌺</span> <span>🌸</span> <span>🌼</span>
            <span>🌻</span> <span>🌞</span> <span>🌝</span> <span>🌛</span> <span>🌜</span> <span>🌚</span> <span>🌕</span> <span>🌖</span> <span>🌗</span>
            <span>🌘</span> <span>🌑</span> <span>🌒</span> <span>🌓</span> <span>🌔</span> <span>🌙</span> <span>🌎</span> <span>🌍</span> <span>🌏</span>
            <span>🪐</span> <span>💫</span> <span>⭐️</span> <span>🌟</span> <span>✨</span> <span>⚡️</span> <span>☄️</span> <span>💥</span> <span>🔥</span>
            <span>🌪</span> <span>🌈</span> <span>☀️</span> <span>🌤</span> <span>⛅️</span> <span>🌥</span> <span>☁️</span> <span>🌦</span> <span>🌧</span>
            <span>⛈</span> <span>🌩</span> <span>🌨</span> <span>❄️</span> <span>☃️</span> <span>⛄️</span> <span>🌬</span> <span>💨</span> <span>💧</span>
            <span>💦</span> <span>☔️</span> <span>☂️</span> <span>🌊</span> <span>🌫</span>
        </div>
        <div class="tab-pane fade" id="emojifood" role="tabpanel" aria-labelledby="emojifood-tab">
            <span>🍏</span> <span>🍎</span> <span>🍐</span> <span>🍊</span> <span>🍋</span> <span>🍌</span> <span>🍉</span> <span>🍇</span> <span>🍓</span>
            <span>🍈</span> <span>🍒</span> <span>🍑</span> <span>🥭</span> <span>🍍</span> <span>🥥</span> <span>🥝</span> <span>🍅</span> <span>🍆</span>
            <span>🥑</span> <span>🥦</span> <span>🥬</span> <span>🥒</span> <span>🌶</span> <span>🌽</span> <span>🥕</span> <span>🧄</span> <span>🧅</span>
            <span>🥔</span> <span>🍠</span> <span>🥐</span> <span>🥯</span> <span>🍞</span> <span>🥖</span> <span>🥨</span> <span>🧀</span> <span>🥚</span>
            <span>🍳</span> <span>🧈</span> <span>🥞</span> <span>🧇</span> <span>🥓</span> <span>🥩</span> <span>🍗</span> <span>🍖</span> <span>🦴</span>
            <span>🌭</span> <span>🍔</span> <span>🍟</span> <span>🍕</span> <span>🥪</span> <span>🥙</span> <span>🧆</span> <span>🌮</span> <span>🌯</span>
            <span>🥗</span> <span>🥘</span> <span>🥫</span> <span>🍝</span> <span>🍜</span> <span>🍲</span> <span>🍛</span> <span>🍣</span> <span>🍱</span>
            <span>🥟</span> <span>🦪</span> <span>🍤</span> <span>🍙</span> <span>🍚</span> <span>🍘</span> <span>🍥</span> <span>🥠</span> <span>🥮</span>
            <span>🍢</span> <span>🍡</span> <span>🍧</span> <span>🍨</span> <span>🍦</span> <span>🥧</span> <span>🧁</span> <span>🍰</span> <span>🎂</span>
            <span>🍮</span> <span>🍭</span> <span>🍬</span> <span>🍫</span> <span>🍿</span> <span>🍩</span> <span>🍪</span> <span>🌰</span> <span>🥜</span>
            <span>🍯</span> <span>🥛</span> <span>🍼</span> <span>☕️</span> <span>🍵</span> <span>🧃</span> <span>🥤</span> <span>🍶</span> <span>🍺</span>
            <span>🍻</span> <span>🥂</span> <span>🍷</span> <span>🥃</span> <span>🍸</span> <span>🍹</span> <span>🧉</span> <span>🍾</span> <span>🧊</span>
            <span>🥄</span> <span>🍴</span> <span>🍽</span> <span>🥣</span> <span>🥡</span> <span>🥢</span> <span>🧂</span>
        </div>
        <div class="tab-pane fade" id="emojiobj" role="tabpanel" aria-labelledby="emojiobj-tab">
            <span>⌚️</span> <span>📱</span> <span>📲</span> <span>💻</span> <span>⌨️</span> <span>🖥</span> <span>🖨</span> <span>🖱</span> <span>🖲</span>
            <span>🕹</span> <span>🗜</span> <span>💽</span> <span>💾</span> <span>💿</span> <span>📀</span> <span>📼</span> <span>📷</span> <span>📸</span>
            <span>📹</span> <span>🎥</span> <span>📽</span> <span>🎞</span> <span>📞</span> <span>☎️</span> <span>📟</span> <span>📠</span> <span>📺</span>
            <span>📻</span> <span>🎙</span> <span>🎚</span> <span>🎛</span> <span>🧭</span> <span>⏰</span> <span>⏳</span> <span>📡</span> <span>🔋</span>
            <span>🔌</span> <span>💡</span> <span>🔦</span> <span>🕯</span> <span>🪔</span> <span>🧯</span> <span>🛢</span> <span>💸</span> <span>💵</span>
            <span>💰</span> <span>💳</span> <span>💎</span> <span>⚖️</span> <span>🧰</span> <span>🔧</span> <span>🔨</span> <span>🛠</span> <span>⛏</span>
            <span>🔩</span> <span>⚙️</span> <span>🧱</span> <span>⛓</span> <span>🧲</span> <span>🔫</span> <span>💣</span> <span>🧨</span> <span>🪓</span>
            <span>🔪</span> <span>🗡</span> <span>⚔️</span> <span>🛡</span> <span>🚬</span> <span>⚰️</span> <span>⚱️</span> <span>🏺</span> <span>🔮</span>
            <span>📿</span> <span>🧿</span> <span>💈</span> <span>⚗️</span> <span>🔭</span> <span>🔬</span> <span>🕳</span> <span>🩹</span> <span>🩺</span>
            <span>💊</span> <span>💉</span> <span>🩸</span> <span>🧬</span> <span>🦠</span> <span>🧫</span> <span>🧪</span> <span>🌡</span> <span>🧹</span>
            <span>🧺</span> <span>🧻</span> <span>🚽</span> <span>🚰</span> <span>🚿</span> <span>🛀</span> <span>🧼</span> <span>🪒</span> <span>🧽</span>
            <span>🧴</span> <span>🛎</span> <span>🔑</span> <span>🚪</span> <span>🪑</span> <span>🛋</span> <span>🛌</span> <span>🧸</span> <span>🖼</span>
            <span>🛍</span> <span>🛒</span> <span>🎁</span> <span>🎈</span> <span>🎏</span> <span>🎀</span> <span>🎉</span> <span>🎎</span> <span>🏮</span>
            <span>📩</span> <span>📨</span> <span>💌</span> <span>📥</span> <span>📤</span> <span>📦</span> <span>🏷</span> <span>📬</span> <span>📮</span>
            <span>📯</span> <span>📜</span> <span>🧾</span> <span>📊</span> <span>🗒</span> <span>📆</span> <span>🗑</span> <span>📇</span> <span>🗃</span>
            <span>🗳</span> <span>🗄</span> <span>📋</span> <span>📂</span> <span>🗞</span> <span>📰</span> <span>📕</span> <span>📖</span> <span>🔖</span>
            <span>🧷</span> <span>🔗</span> <span>📎</span> <span>📐</span> <span>📏</span> <span>🧮</span> <span>📌</span> <span>📍</span> <span>✂️</span>
            <span>🖊</span> <span>🖋</span> <span>✒️</span> <span>🖌</span> <span>🖍</span> <span>📝</span> <span>✏️</span> <span>🔍</span> <span>🔐</span>
        </div>
    </div>
</div>
