<module>
	<rawname>callforward</rawname>
	<repo>standard</repo>
	<name>Call Forward</name>
	<version>15.0.16</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<changelog>
		*15.0.16* FREEI-3608 whoops error on rebuild 
		*15.0.15* FREEI-3570 Add getWidgetListByModule method callforward 
		*15.0.14* FREEI-3333 callforward Restore issue ( advr) 
		*15.0.13* Packaging of ver 15.0.13
		*15.0.12* Packaging of ver 15.0.12
		*15.0.11* Packaging of ver 15.0.11
		*15.0.10* Related to FREEPBX-20414: removed $jobid from runRestore() 
		*15.0.9* Fixes FREEPBX-20445: Check, if index 'data' exists in $configs before accessing it 
		*15.0.8* Call Forwarding Restore Fails
		*15.0.7* backup
		*15.0.6* fixing legacy restore
		*15.0.5* backup and restore
		*15.0.4* Rest Api
		*15.0.3* Feature parity with restapi module
		*15.0.2* Packaging of ver 15.0.2
		*15.0.1* Fork from 14.0.1.3, impliment backup
	</changelog>
	<description>The Call Forwarding module provides feature codes for call forwarding. Call Forwarding is used to forward calls from one user to another based on conditions such as busy, unavailable, and no answer.</description>
  	<more-info>https://wiki.freepbx.org/display/FPG/Call+Forwarding+Module</more-info>
	<category>Applications</category>
	<supported>
		<version>15.0</version>
	</supported>
</module>