<?php

// IMPORTANTE
//
// ¡ Setear TODAS las variables de entorno en este archivo !
// Hacerlo adecuado al ambiente y servidor (dev - prod, docker - apache, etc)

putenv('SRVR_IP=10.10.2.34'); // IP del servidor interno, real o: kinon 256, yaro 257, etc
putenv('WEB_DOMAIN=localhost'); // Dominio de la aplicacion frontend
putenv('BAGO_URL=http://localhost:8443/'); // Url de la aplicacion backend incluyendo protocolo, puerto y diaginal final
putenv('BAGO_JS_URL=localhost:8443'); // Url de la aplicacion para usar desde javascript
putenv('ARI_USER=phonex'); // Asterisk ari user
putenv('ARI_PASS=Phonex2017'); // Asterisk ari pass
putenv('AMI_USER=assertive'); // Asterisk ami user
putenv('AMI_PASS=4553rt1v3'); // Asterisk ami pass
putenv('ASS_DB_HOST=10.10.2.34'); // Host de las bases de datos Assertive y asterisk (posiblemente dividir)
putenv('ASS_DB_USER=aldo'); // Usuario para conectar a la base de datos
putenv('ASS_DB_PASS=4ss3rt1v3'); // Contraseña base de datos
putenv('ASS_DB_NAME=assertive'); // Nombre de la base de datps Assertove
putenv('ASK_DB_NAME=asteriskcdrdb'); // Nombre de la base de datos Asterisk

?>
