*/config/development
*/logs/*
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
/nbproject/private/
/nbproject/
/assets/uploads/*
/assets/img/logo.png
/assets/img/vcloader.gif
/files/*
!/files/formatoCampSMS.csv
!/files/formatoAgenda.csv
!/files/formatoPit.csv
/*.sh
!/emer.sh
/Upload/*
/wafiles/*
/whatsapprepository/*
/emailfiles/*
!/emailfiles/index.html
!/wafiles/index.html
!/whatsapprepository/index.html
!/upload/index.html
/application/views/despachador/desp_form*.php
/application/views/form/form_*.php
/application/models/valores.php
/application/signing/node_modules/
/application/signing/*.pem
/application/signing/*.key
/application/signing/*.crt
/application/signing/*.lock

.editorconfig
index.php
grafica.php
application/config/database.php
.DS_Store
.vscode
.devcontainer
.env.php